<div class="flex justify-center w-full">
  <div class="flex flex-col">
    <div class="max-w-xl mx-auto mb-6">
      <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-800 sm:text-4x">
          SoD Warcraftlogs Rankings 
        </h1>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          What be your ranking?
        </p>
      </div>
    </div>

    <div class="flex flex-col mx-auto border rounded-xl py-6 px-16 gap-4">
      <%= form_with url: "/", method: :get, class: "", data: {turbo_stream: "", turbo_frame: "character_search_result"} do |form| %>
        <div class="mb-2">
          <label for="search" class="block text-sm mb-2">Character search</label>
          <div class="flex space-x-2">
            <input value="<%= params[:search] %>" type="text" id="search" name="search" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" required aria-describedby="search-error">
            <%= form.submit "Search", class: "py-2 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
          </div>
          <%# <p class="hidden text-xs text-red-600 mt-2" id="search-error">Please include a valid email address so we can get back to you</p> %>
        </div>
      <% end %>
      <div class="flex w-full">
        <%= turbo_frame_tag "character_search_result", class: "relative" do %>
          <% if @character_data %>
            <table class="min-w-full divide-y divide-gray-200 table-auto">
              <thead>
                <tr>
                  <th class="text-center">Boss</th>
                  <th class="text-center">Best %</th>
                </tr>
              </thead>
              <tbody>
                <% character_rankings.each do |boss_rank| %>
                  <tr class="border">
                    <td class="pr-5 border-r flex items-center">
                      <%= image_tag boss_rank["encounter"]["name"].split(" ")[0].downcase, class: "max-w-10" %>
                      <span class="ml-2"><%= boss_rank["encounter"]["name"] %></span>
                    </td>
                    <td class="ml-auto w-24 text-center"><%= number_with_precision(boss_rank["rankPercent"], precision: 2) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% elsif params[:search].present? %>
            <h2 class="text-sm">No results for this character name</h2>
          <% else %>
            <h2 class="text-sm">See your Warcraftlogs rankings results</h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
